

      <style type="text/css">
        a{text-decoration:none;}
        a:link{color:white;}
        a:visited{color:white;}
        a:hover{font-size:16; color:#0B0B61;}
      </style>
   
      <body>
        <div class="menu">
          <dl>
            <dt>
              <b>
                <a href="https://kevinrm.github.io/index.html">Inicio: Página Kevin</a>
              </b>
            </dt>
            <dt>
              <b>
                <a href="http://alu0100764666.github.io">Inicio: Página Sabato</a>
              </b>
            </dt>
          </dl>
        </div>
        <div class="contenido_total">
          <div class="titulo_practica">
            <h1 align="center">
              <font color="white">Comma Separated Values (CSV) Analyzer with Ajax</font>
            </h1>
            <hr>
      </div>
          <div class="contenido">
            <table>
              <tr>
                <th>Cadena CSV:</th>
                <td>
                  <textarea autofocus="" cols = "40" rows = "5" id="original"></textarea>
                </td>
              </tr>
            </table>
            <div class="boton_tabla">
              <button type="button" id="tableButton">Tabla</button>
              <br>
        
            </div>
            <div class="texto_resultado">
              <p>
                <b>
                  Resultado:
                </b>
              </p>
            </div>
            <span class="output" id="finaltable"></span>
          </div>
          <div class="bot">
            <div class="enlaces">
              <div class="enlace_tests">
                <p>
                  <b>
                    <a href="tests/index.html">
                      <button type="button" class="btn btn-primary">
                        <strong>Tests</strong>
                      </button>
                    </a>
                  </b>
                </p>
              </div>
              <div class="enlace_travis">
                <p>
                  <b>
                    <a href="https://travis-ci.org/alu0100764666/PL_practica2">
                      <button type="button" class="btn btn-primary">
                        <strong>Travis</strong>
                      </button>
                    </a>
                  </b>
                </p>
              </div>
              <div class="enlace_jquery">
                <p>
                  <b>
                    <a href="http://jquery.com/">
                      <button type="button" class="btn btn-primary">
                        <strong>jQuery</strong>
                      </button>
                    </a>
                  </b>
                </p>
              </div>
              <div class="enlace_github">
                <p>
                  <b>
                    <a href="https://github.com/alu0100764666/PL_practica2/tree/master">
                      <button type="button" class="btn btn-primary">
                        Ver en <strong>GitHub</strong>
                      </button>
                    </a>
                  </b>
                </p>
              </div>
            </div>
            <div class="descripcion">
              <fieldset>
                <p>
                  <legend>
                    <u>
                      <i>
                        <b>AYUDA:</b>
                      </i>
                    </u>
                  </legend>
                  Escriba una cadena CSV, luego haga Click en el botón de "Tabla". El programa le dará una tabla como salida con los datos introducidos.
                </p>
              </fieldset>
            </div>
          </div>
        </div>
      </body>