      <body>
        <div class="contenido_total">
          <div class="titulo_practica">
            <h1 align="center">
              <font color="blue">Comma Separated Values (CSV) Analyzer with Ajax</font>
            </h1>
            <hr>
      </div>
          <div class="contenido">
            <table>
              <tr>
                <th>Cadena CSV:</th>
                <td>
                  <textarea autofocus="" cols = "40" rows = "5" id="original"></textarea>
                </td>
              </tr>
            </table>
            <div class="boton_tabla">
              <button type="button" id="tableButton">Tabla</button>
              <br>
        
            </div>
            <div class="texto_resultado">
              <p>
                <b>
                  Resultado:
                </b>
              </p>
            </div>
            <span class="output" id="finaltable"></span>
          </div>
        </div>
      </body>
