  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <font color="blue">Comma Separated Values (CSV) Analyzer with Ajax</font>
      </h1>
      <hr>
    </div>
    <div class="contenido">
      <table>
        <tr><th>Escriba aquí una entrada CSV o bien</th></tr>
        <tr><th>Arrastre un fichero CSV hasta la zona de entrada</th></tr>
        <tr>
          <td>
            <textarea class = "drop_zone" autofocus="" cols = "80" rows = "5" id="original"></textarea>
          </td>
        </tr>
        <tr>
          <th>
            <div class="example">
              <button class ="example" type="button">input2</button>
              <button class ="example" type="button">input</button>
            </div>
          </th>
        </tr>
      </table>
      <div class="boton_tabla">
        <button type="button" id="parse">Analizar!</button>
        <br>
      </div>

      <div class="texto_resultado">
        <p> <b> Resultado:</b> </p>
      </div>
      <span class="output" id="finaltable">
      </span>
    </div>
  </div>
