    <style type="text/css">
      #drop_zone{
        width:50%;
        background-color: black;
        color: white;
        padding: 3% 10%;
        text-align: center;
      }
    </style>
  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <font color="blue">Comma Separated Values (CSV) Analyzer with Ajax</font>
      </h1>
      <hr>
    </div>
    <div class="contenido">
      <table>
        <tr><th>Cadena CSV</th></tr>
        <tr>
          <td>
            <textarea autofocus="" cols = "40" rows = "5" id="original"></textarea>
          </td>
        </tr>
      </table>
      <div class="example">
        <button class ="example" type="button">input2</button>
        <button class ="example" type="button">input</button>
      </div>
      <div class="boton_tabla">
        <button type="button" id="parse">Tabla</button>
        <br>
      </div>

      <p>
        <b>
          Zona de arrastre:
        </b>
      </p>
      <div id="drop_zone">Drop files here</div>
      <output id="list"></output>

      <div class="texto_resultado">
        <p>
          <b>
            Resultado:
          </b>
        </p>
      </div>
      <span class="output" id="finaltable"></span>
    </div>



  </div>
